.notifi {
  @include setSize(auto, 100%);
  @include setCenterColumn;
  @include setMargin(true, 30px, 0, 0, 0);

  .alert {
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    top: 50px;
    right: 50px;
    text-wrap: wrap;
    @include setSize(auto, 500px);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    .title {
      font-size: 25px;
      font-weight: 700;
    }
    .content {
      font-size: 17px;
      font-weight: 500;
    }
  }

  .alert-success {
    background-color: rgb(135, 246, 0);
  }
  .alert-danger {
    background-color: rgb(252, 38, 0);
  }
  .alert-warning {
    background-color: rgb(246, 213, 0);
  }
  .alert-info {
    background-color: rgb(0, 238, 246);
  }
}

.alert-notice {
  margin-top: 300px;
  background-color: rgb(255, 174, 0);
  color: black;
  font-weight: 700;
  cursor: pointer;
  .warning:hover {
    color: rgb(255, 59, 24);
  }
}

.loading {
  @include setSize(100vh, 100%);
  @include setCenterColumn;
  background-color: #35393b;
  .logo {
    @include setSize(500px, 500px);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    animation: rotateFan  1s ease-out infinite;
    object-fit: cover;
  }
}


